<!DOCTYPE html>
<html>
    <head>
        <title>Rock Paper Scissors - How to Play</title>
        <link rel="stylesheet" type="text/css" href="/css/body">
        <link rel="stylesheet" type="text/css" href="/css/writingFormatting">
        <link rel="stylesheet" type="text/css" href="/css/mainMenuButton">
    </head>
    <body>
        <div style="padding-right:20%;padding-left:20%;">
            <h1 style="text-align:center"><i>HOW DO YOU PLAY THIS GAME?</i></h1>
            <p style="text-align:left">Rock paper scissors is a very simple game. If you've never played it before,
                you've definitely lived under some rock and you should read this 
                <a href="https://en.wikipedia.org/wiki/Rock%E2%80%93paper%E2%80%93scissors" target="blank">article</a> 
                or watch the video below. Otherwise, back in the main menu, click "START NEW GAME" to play a new game or 
                "CONTINUE GAME" to continue a previous game against a computer.
            </p> 
            <p style="text-align:center">
                <iframe width="854" height="480" src="https://www.youtube.com/embed/JtcHmiAcbZc" 
                    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
                </iframe>
            </p>
        </div>
        <div>
            <a href="/"><button style="position:absolute;left:10%;bottom:10%"><-BACK</button></a>
        </div>
    </body>
</html>